/* General */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Jaldi&family=Jost&family=Jura&family=K2D&display=swap');
:root {
    --accent1: #2e5828;
    --accent2: rgb(126, 1, 1);
    --convasColor: #FBFBFB;
  }

body{
    background-color: #CAC7C7;
}

.convas{
    background-color: var(--convasColor);
    margin: 70px auto;
    border-radius: 30px;
    box-shadow: 0px 0px 27px 1px rgba(0, 0, 0, 0.25);
    padding: 0 2em;
    height: 80vh;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 1000px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.convas::-webkit-scrollbar{
    display: none;
}
ul{
    padding:0;
}
li{
    list-style: none;
}
h1 {
    margin: 0.5em 0;

    font-family: 'K2D';
}
hr{
    position: relative;
    width: calc(100% + 4em);
    left: -2em;
    margin: 0;
}
h2{
    font-family: 'Jaldi';
    font-weight: 400;
    font-size: 32px;
    margin: 0;
    
}
p{
    font-family: 'Inter';
    font-weight: 400;
    line-height: 22px;
    margin-top: 10px;
}
/* Mobile */
 @media screen and (max-width: 640px){
    /* body{
        background-color: black;
    } */
    .convas {
        margin: 0;
        height: 97vh;
    }
    
}
/* Tablet */
@media screen and (min-width: 641px) and (max-width: 801px) {
    /* body{
        background-color: green;
    } */
} 

/********************/
/* Header */
/********************/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--convasColor);
    padding: 0 2em;
    border-bottom: 3px var(--accent1) solid;
    margin: 0 -2em;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 2;
    box-shadow: 0 4px 15px;
}
header li{
    display: inline-block;
    margin-left: 1em;
} a{
    font-family: 'Jura';
    /* font-style: normal; */
    font-weight: 400;
    font-size: 1.5em;
    line-height: 28px;
    color: #000;
}
nav li:last-child a{
    color: var(--accent2);
    font-weight: bold;
}
nav li:first-child a{
    color: var(--accent1);
    font-weight: bold;
}
#about-me h2{
    margin-top: 0px;
}

/* Mobile */
@media screen and (max-width: 640px){
    header *{
        margin:0;
    }
    header {
        flex-direction: column;
        padding: 0.2em;
    }
   
    /* header h1{
        font-size: 1.2em;
    } */
    header li{
        margin-left: 0.2em;
    }
    header a{
        font-size: 1.2em;
    } 
}
/* Tablet */
@media screen and (min-width: 641px) and (max-width: 801px) {
    header h1{
        font-size: 1.5em;
    }
} 
/********************/
/* About me */
/********************/
#about-me {
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr 1fr;
    
}
.description {
    grid-column: 1 / 4;
}
#about-me img{
    grid-column: 4 / 5;
    align-self: center;
    width: 100%;
    opacity: 0.8;
}

/* Mobile */
@media screen and (max-width: 640px){
    #about-me{
        display: flex;
        flex-direction: column;
        margin: auto -1.5em;
     }
     #about-me img{
        width: 50%;
     }
}
/* Tablet */
@media screen and (min-width: 641px) and (max-width: 801px) {
 #about-me{
    display: flex;
    flex-direction: column;
 }
 #about-me img{
    width: 40%;
 }
} 


/********************/
/* Projects */
/********************/

#projects ul{
    padding-left: 1em;
}
#projects a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    margin-right: 5px;
  
}
#projects .fa-arrow-up-right-from-square {
    display: none;
}
#projects a:hover{
    text-decoration: underline;
}
#projects li p{
    padding-left: 2em;
    font-size: 0.8em;
    opacity: 0.7;
    margin: 0;
    margin-bottom: 10px;
}

#mixed-massages-output{
    font-family: 'Jura';
    font-weight: 300;
}
#mixed-massages-description{
    display: none;
}
#projects i{
    margin-right: 5px;
}
#projects:target h2 {
    /* color: #a81919; */
    text-shadow: 0px 0px 3px rgb(251, 3, 3);
    transition: text-shadow 1s;
}

/* Mobile */
@media screen and (max-width: 640px){
    #mixed-massages-output{
        display: block;
        padding-left:1.5em;
        /* padding-left: 1.5em; */

    }
    #projects {
        margin: auto -1.8em;
    }
}
/* Tablet */
@media screen and (min-width: 641px) and (max-width: 801px) {
 
} 

/********************/
/* Skills */
/********************/
#skills {
    width: 100%;
    /* display: flex; */
}
#skills h3{
    font-family: 'Jaldi';
    font-weight: 400;
}

#skills i{
    font-size: 50px;
    margin-right: 20px;
    color: var(--accent1);
}
#skills ul{
    display: flex;
    gap: 20px;
} 
#skills li {
    font-family: 'Inter';
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 0 0 3px 1px var(--accent1);
    padding: 10px;
}
#skills:target h2 {
    /* color: #a81919; */
    text-shadow: 0px 0px 3px rgb(251, 3, 3);
    transition: text-shadow 1s;
}

/* Mobile */
@media screen and (max-width: 640px){
    #skills i{
        margin-top: 0.2em;
    }
    #skills h2{
        margin: auto -0.8em;
    }
}
/* Tablet */
@media screen and (min-width: 641px) and (max-width: 801px) {
 
} 
/********************/
/* Footer */
/********************/
footer *{
    margin: 0;
    padding: 0;
    
}
footer{
    border-top: 3px var(--accent1) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -2em;
    margin-top: 30px;
    padding: 1em 2em;
    box-shadow: 4px 0px 15px;
    
}
footer p{
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 0.2em;
}
footer h3{
    font-family: 'K2D';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}
footer i{
    font-size: 1.3em;
    margin-left: 0.3em;
}

/* Mobile */
@media screen and (max-width: 640px){
    footer {
        display: inline-block;
        text-align: center;
        padding-top: 0.3em;
    }
    footer h3, div{
        display: inline-block;
        margin-top: 0.2em;
    }
    footer p{
        margin-top: 0.5em;
        display: block;
        
    }
}
/* Tablet */
@media screen and (min-width: 641px) and (max-width: 801px) {
    footer {
        display: inline-block;
        text-align: center;
        
    }
    footer h3, div{
        display: inline-block;
    }
    footer p{
        margin-top: 0.5em;
        display: block;
    }
} 

/********************/
/* Contact (page) */
/********************/

.picture-contact {
    opacity: 0.5;
}

#contact-me > div{
    display: flex;
    justify-content: space-between;
}
#contact-me i{
    font-size: 2.5em;
    color: var(--accent2);
     margin: 0 0.2em;

}

#contact-me td:nth-child(1){
    text-align: end;
    
}
#contact-me td:nth-child(2){
    /* padding-left: 3em; */
    /* padding-top: 1em; */
    height: 60px;
    vertical-align: middle;
}
#contact-me img{
    position: relative;
    top: -65px;
    right: -17px;
    /* z-index: 5; */
}
#contact-me #showup i{
    /* display: none; */
    visibility: hidden;
    vertical-align: middle;
    /* transition: visibility 0s 1s ; */
}

/* Mobile */
@media screen and (max-width: 640px){
    #contact-me {
        margin: 0 -1.8em;
    }
    #contact-me i{
        font-size: 2.5em;
    }
    #contact-me i[class~="fa-telegram"]{
        font-size: 2em;
    }
    #contact-me #showup i{
        /* visibility: visible; */
        font-size: 2em;
    }
    #contact-me a{
        font-size: 1.2em;
    }
    
}
/* Tablet */
@media screen and (min-width: 641px) and (max-width: 801px) {
    #contact-me #showup i{
        /* visibility: visible; */
        font-size: 2em;
    }
} 
